<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=egde,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css" media="screen">
		  .created {
			  float: right;
			}
			.entry {
			  margin: 1em;
				padding: 1em;
				background: #eee;
			}
		</style>
</head>
<body>
  <a href="/admin">Admin</a>
  {{with .Cooked}}
	<div class=entry>
		<h2>{{ .Title }}</h2>
		<div>
			<span class=created>{{ .Created | humanTime }}</span>
			{{ .Content }}
		</div>
	</div>
	{{end}}
	<hr>
	{{with .Raw}}
	<div>
		<form action="/admin/edit/{{ .ID }}" method="post" accept-charset="utf-8">
		  <p><input type="text" name="title" value="{{ .Title }}"></p>
      <textarea name="content" rows="8" cols="80">{{ .Content }}</textarea>
      <input type="hidden" name="action" value="update">
			<p><input type="submit" value="Update"></p>
		</form>
		<form action="/admin/edit/{{ .ID }}" method="post" accept-charset="utf-8">
      <input type="hidden" name="action" value="delete">
			<p><input type="submit" value="Delete"></p>
		</form>
	</div>
	{{end}}
</body>
</html>
