<!DOCTYPE html>
<html>
<head>
  <title>Edit - {{ .Cooked.Title }}</title>
  {{template "header.html"}}
</head>
<body>
  <nav>
    <a href="/admin">Admin</a>
    <a href="/">Home</a>
  </nav>
  {{with .Cooked}}
	<div class=entry>
		<h2>{{ .Title }}</h2>
		<div>
			<span class=created>{{ .Created | humanTime }}</span>
			{{ .Content }}
		</div>
	</div>
	{{end}}
	<hr>
	{{with .Raw}}
	<div>
		<form action="/admin/edit/{{ .ID }}" method="post" accept-charset="utf-8">
		  <p><input type="text" name="title" value="{{ .Title }}"></p>
      <textarea name="content" rows="8" cols="80">{{ .Content }}</textarea>
      <input type="hidden" name="action" value="update">
			<p><input type="submit" value="Update"></p>
		</form>
		<form action="/admin/edit/{{ .ID }}" method="post" accept-charset="utf-8">
      <input type="hidden" name="action" value="delete">
			<p><input type="submit" value="Delete"></p>
		</form>
	</div>
	{{end}}
</body>
</html>
