<!DOCTYPE html>
<html>
<head>
  <title>{{ .Cooked.Title }}</title>
  {{template "header.html" .}}
  <link rel="canonical" href="{{ .Config.host }}">
  <link rel="author" href="{{ .Config.author_url }}">
  <link href="https://webmention.bitworking.org/IncomingWebMention" rel="webmention" />
  <meta name="twitter:site"    content="@{{ .Config.twitter }}">
  <meta name="twitter:creator" content="@{{ .Config.twitter }}">
  <meta name="twitter:title"   content="{{ .Cooked.Title }}">
  <meta name="twitter:description" content="{{ .Cooked.Content }}">
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ .Config.logo_url }}">
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>
	<main class="page-content" aria-label="Content">
		<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
			<header class="post-header">
				<h1 class="post-title p-name" itemprop="name headline">{{ .Cooked.Title }}</h1>
			</header>

			<div class="post-content e-content" itemprop="articleBody">
				{{ .Cooked.Content }}
			</div>

      <p class="post-meta">
        <a class="u-url" href="/entry/{{ .Cooked.ID }}">
          <time datetime="{{ .Cooked.Created | atomTime }}" itemprop="datePublished" class="dt-published">
            {{ .Cooked.Created | humanTime }}
          </time>
        </a>
        • <a rel="author me" class="p-author h-card" href="{{ .Config.author_url }}"> <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <img class="u-photo" src="{{ .Config.author_image_url }}" alt="" style="height: 16px; border-radius: 8px; margin-right: 4px;" />
            <span itemprop="name">{{ .Config.author }}</span></span>
        </a>
      </p>

			<script type="text/javascript" charset="utf-8">
				fetch('https://webmention.bitworking.org/Mentions', {
					cache: 'no-cache',
				}).then(function(resp) {
					if (!resp.ok) {
						return
					}
					resp.text().then(function(text) {
						document.getElementById('mentions').innerHTML = text;
					});
				});
			</script>
			<div id=mentions></div>
		</article>
	</main>

  {{template "footer.html" .}}
</body>
</html>
