
  <footer class="h-card vcard">
    <a rel="me" class="u-url url u-uid uid" href="{{ .Config.host}}"></a>
    <p class="p-note">{{ .Config.author }} - {{ .Config.author_desc }}</p>
    <a class="p-name u-url url fn" href="{{ .Config.author_url }} " style="display: none"><img
               class="u-photo"
               src="{{ .Config.author_image_url }}"
               alt="{{ .Config.author }}" /><span class="hcard-name p-name n">{{ .Config.author }}</span></a>
    <a href="{{ .Config.host }}" class="u-url u-uid"></a>
    <a rel="me" class="email u-email" href="mailto:{{ .Config.email }}"></a>
    <a href="/admin">Admin</a>
  </footer>
