<!DOCTYPE html>
<html>
<head>
  <title>{{.Config.author}} - Stream</title>
  {{template "header.html"}}
   <link rel="manifest" href="/manifest.json">
</head>
<body>
  {{if  ne .Offset -1}}
    <div><a href="?offset={{.Offset}}">Next</a></div>
  {{end}}
  {{range .Entries}}
		<div class=entry>
      <h2><a href="/entry/{{.ID}}">{{ .Title }}</a></h2>
			<div>
				{{ .Content }}
        <span class=created>{{ .Created | humanTime }}</span>
			</div>
		</div>
  {{end}}
  <hr>
  <p>
    <a href="/admin">Admin</a>
  </p>
  {{template "footer.html" .}}
  <script type="text/javascript" charset="utf-8">
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
            });
    }
  </script>
</body>
</html>
