<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=egde,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css" media="screen">
		  .created {
			  float: right;
			}
			.entry {
			  margin: 1em;
				padding: 1em;
				background: #eee;
			}
		</style>
</head>
<body>
	<div><a href="?offset={{.Offset}}">Next</a></div>
  {{range .Entries}}
		<div class=entry>
			<h2>{{ .Title }}</h2>
			<div>
        <span class=created>{{ .Created | humanTime }}</span>
				{{ .Content }}
			</div>
		</div>
  {{end}}
</body>
</html>
